#image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.img {
  width: 25%;
}

img {
  width: 100%;
}

input {
  height: 30px;
  width: 30%;
  margin-top: 20px;
}

button {
  height: 30px;
  width: 50px;
}
